/*external style*/
body{
    background-color: rgb(240, 240, 215);
    background-image: url("avataaars.png");
    background-repeat: no-repeat;
    background-position:top;
    
}
.header{
    padding-top: 30px;
    margin: 10px;
}
#left{
    
    background-color: cadetblue;
    float: left;
    
}
#right{
    background-color: cadetblue;
    float: none;
    font-weight: 50;
    font-size: 200;
    text-align: center;
}
h1{    
    font-size: 250;
}
